* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: maroon;
    width: 100%;
}
.container {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50vw;
    height: 50vh;
    /* border: 1px solid black; */
    border-radius: 10px;
    background: wheat;
    /* animation-play-state: running; */
    text-align: center;
    /* overflow: auto; */
    /* overflow: hidden; */
}
.container:hover {
    .box {
        width: 23vw;
        opacity: 0.5;
        /* overflow: auto; */
    }
    .box:hover {
        /* width: 50vw; */
        background: aquamarine;
        height: 70vh;
        opacity: 0.9;
        /* transform: scale(1,1.2); */
        padding-top: 70px;
    }
    .box2 {
        width: 23vw;
        opacity: 0.5;
    } 
    .box2:hover {
        height: 70vh;
        background: greenyellow;
        padding: 70px;
        padding-left: 50px;
        opacity: 0.9;
    }
    .box3 {
        overflow: visible;
    }
}
h1 {
    margin-top: 40px;
    font-family: fantasy;
    letter-spacing: 4px;
    color: rgb(66, 151, 146);
    font-size: 3vw;
}
.box {
    position: absolute;
    left: 0;
    top: 0;
    width: 0vw;
    height: 50vh;
    /* background: url(img/pexels-inayê-freitas-15409298.jpg); */
    background-size: cover;
    border-radius: 10px;
    transition: 1.5s;
    animation-timing-function: ease-in-out;
    /* overflow: scroll; */
    overflow: hidden;
    background: white;
    text-align: center;
}

.box h2 {
    font-family: fantasy;
    color: rgb(55, 0, 60);
    opacity: 1;
    font-weight: bold;
}

.box input {
    margin-top: 30px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background: whitesmoke;
}

input:focus {
    border: 1px solid skyblue;
}

button {
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    border-radius: 7px;
    font-family: fantasy;
}
button:hover {
    background: skyblue;
}

.box2 {
    /* opacity: 1; */
    width: 0vw;
    height: 50vh;
    position: absolute;
    top: 0;
    right: 0;
    /* border: 1px solid black; */
    background: white;
    border-radius: 10px;
    transition: 1.5s;
    animation-timing-function: ease-in-out;
    /* background: url(img/pexels-isaac-suca-fuentes-15514635.jpg); */
    /* background-size: cover; */
    overflow: hidden;
    text-align: center;
}
.box2 h2 {
    font-family: fantasy;
    color: rgb(55, 0, 60);
    opacity: 1;
    font-weight: bold;
}
.box2 input {
    margin-top: 30px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background: whitesmoke;
}
h2 {
    margin-top: 0px;
    transition: 1.5s;
    animation-timing-function: ease-in-out;
}
.h2 {
    font-size: 20px;
    color: magenta;
}
/* .box3 {
    position: absolute;
    top: 0;
    left: 314px;
    margin: auto;
    height: 50vh;
    width: 4vw;
    background: whitesmoke;
    opacity: 0.5;
} */